%h1 Teams

%p
  = link_to 'New team', new_team_path

%table
  %tr
    %th Name
    %th Active
  - @teams.each do |team| 
    %tr
      %td=team.name
      %td=team.active? ? 'Yes' : 'No' 
      %td=link_to 'View', team

