%h2 Create New Task

%fieldset
  - form_for(:task, :url => product_story_task_path(@product, @story, @task)) do |f|
    = f.error_messages
    
    = render :partial => 'form', :locals => {:f => f}
    %li= f.submit "Create Task"

= link_to 'Back', product_story_tasks_path(@product, @story)
