#menu
  %span#logo
    Mongoose
    %sup
      Beta
    
  = link_to 'products', products_url
  
  #login
    - if current_user
      = current_user.first_name
      = link_to "logout", logout_path, { :title => "Log out" }  
    - else
      = link_to "login", login_path, { :title => "Login" }
      
- content_for :javascript do
  :javascript
    $(document).ready(function(){
      meerkat({
        container: '#menu',
        meerkatPosition: 'top',
        background: '#2e2a22',
        height: '40px'
      });
    });
