%h1
  Editing release
  
- form_for @release, :url => product_release_path(@product,@release) do |f|
  = render :partial => 'form', :locals => {:f => f}
  = f.submit 'Update' 

= link_to 'Show', product_release_path(@product,@release)  |
= link_to 'Back', product_releases_path(@product)
    