%h1
  New Release

- form_for(@release, :url => product_releases_path(@product)) do |f|
  = render :partial => 'form', :locals => {:f => f}
  = f.submit 'Create' 

= link_to 'Back', product_releases_path(@product)